
<header class="pc-header">
    <div class="header-wrapper flex max-sm:px-[15px] px-[25px] grow">
        <div class="me-auto pc-mob-drp">
            <ul class="inline-flex *:min-h-header-height *:inline-flex *:items-center">
                <li class="pc-h-item pc-sidebar-collapse max-lg:hidden lg:inline-flex">
                    <a href="javascript:void(0)"
                       class="pc-head-link ltr:!ml-0 rtl:!mr-0" id="sidebar-hide"><i class="ti ti-menu-2"></i></a>
                </li>
                <li class="pc-h-item pc-sidebar-popup lg:hidden">
                    <a href="javascript:void(0)"
                       class="pc-head-link ltr:!ml-0 rtl:!mr-0" id="mobile-collapse">
                        <i class="ti ti-menu-2 text-2xl leading-none"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="ms-auto">
            <ul class="inline-flex *:min-h-header-height *:inline-flex *:items-center">
                <li class="dropdown pc-h-item header-user-profile">
                    <a class="pc-head-link dropdown-toggle arrow-none me-0" data-pc-toggle="dropdown" href="#"
                       role="button" aria-haspopup="false" data-pc-auto-close="outside" aria-expanded="false">
                        <img src="~/Content/admin_assets/images/user/avatar-2.jpg" alt="user-image"
                             class="user-avtar w-10 h-10 rounded-full">
                    </a>
                    <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown p-2">
                        <div class="dropdown-body py-4 px-5">
                            <div class="profile-notification-scroll position-relative"
                                 style="max-height: calc(100vh - 225px)">
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                
                                    <div class="grids mb-3s log-bg">
                                        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>