@model Grievancemis.Models.Feedback
@{
    ViewBag.Title = "Feedback List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var now = DateTime.Now;
    var startDate = new DateTime(now.Year, now.Month, 1);
    var endDate = startDate.AddMonths(1).AddDays(-1);
}

<div class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h2 class="mb-0">@ViewBag.Title</h2>
            <ul class="breadcrumb">
                <!-- Optional breadcrumb links -->
            </ul>
        </div>
    </div>
</div>

<div class="grievances-list">
    <div class="box-design">
        @using (Html.BeginForm("FeedbackList", "Feedback", FormMethod.Post, new { id = "formid", @class = "form-inline", role = "form", autocomplete = "off", enctype = "multipart/form-data" }))
        {
            <div class="filter cm-content-box box-primary relative rounded-lg mb-0 bg-white dark:bg-[#1b1b1b]">
                <div class="content form excerpt border-b-color dark:border-[#ffffff1a]">
                    <div>
                        <div class="border-all flex items-center">
                            <!-- Increased spacing -->
                            <div class="form-group" style="margin-right: 30px;">
                                <label for="FD" class="form-label">From Date</label>
                                <input type="text" name="FD" id="FD" class="datepicker form-control w-[10rem] text-[13px] text-body-color border rounded-lg py-1.5 px-3" autocomplete="off" />
                            </div>
                            <div class="form-group" style="margin-right: 30px;">
                                <label for="TD" class="form-label">To Date</label>
                                <input type="text" name="TD" id="TD" class="datepicker form-control w-[10rem] text-[13px] text-body-color border rounded-lg py-1.5 px-3" autocomplete="off" />
                            </div>
                            <div>
                                <button name="btnsubmit" id="btnsubmit" onclick="loadFeedbackData(); return false;"
                                        class="inline-block text-white bg-primary border rounded-lg px-4 py-2 hover:bg-hover-primary duration-300">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <!-- Placeholder for feedback data -->
        <div id="feedback-content" class="mt-4">
            <!-- Feedback data will be loaded here -->
        </div>
    </div>
</div>

@section Scripts {
    <link href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            var dateFormat = "dd-M-yy",
                from = $("#FD")
                    .datepicker({
                        defaultDate: "+1w",
                        changeMonth: true,
                        numberOfMonths: 1,
                        dateFormat: 'dd-M-yy'
                    })
                    .on("change", function () {
                        to.datepicker("option", "minDate", getDate(this));
                    }),
                to = $("#TD").datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: 'dd-M-yy'

                })
                    .on("change", function () {
                        from.datepicker("option", "maxDate", getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;
            }
        });
        $(document).ready(function () {
            //$('#btnsubmit').on('click', function () {
            //var fromDate = $('#FD').val();
            //var toDate = $('#TD').val();

            //// Validate dates
            //if (!fromDate || !toDate) {
            //    toastr.error('Please select both From Date and To Date.');
            //    return;
            //}

            //// Prepare data to send
            //var data = {
            //    FormDt: fromDate,
            //    ToDT: toDate
            //};

            loadFeedbackData();
        });
        function loadFeedbackData() {
            var fromDate = $('#FD').val() == "" ? "0" : $('#FD').val();
            var toDate = $('#TD').val() == "" ? "0" : $('#TD').val();
            var adata = { 'fdt': fromDate, 'tdt': toDate };
            $('#feedback-content').html('');
            $.ajax({
                url: '/Feedback/GetFeedbackListAjax',
                type: 'POST',
                data: { 'fdt': fromDate, 'tdt': toDate },
                success: function (response) {
                    if (response.IsSuccess) {
                        $('#feedback-content').html(response.Data);
                    } else {
                        toastr.error(response.Data || "No data found.");
                    }
                },
                error: function () {
                    toastr.error('Error loading feedback data.');
                }
            });
        }
    </script>
}
