@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.SubTitle = "Dashboard";
}

<div class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h2 class="mb-0">Dashboard</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
</div>

<div class="grievances-list">
    <div class="box-design">
        <div class="row">
            <div class="col-md-6">
                <div id="myPieChart" style="width: 600px; height: 400px;"></div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var chart = Highcharts.chart('myPieChart', {
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Complain Status'
            },
            subtitle: {
                text: 'Total Complain : '+@ViewBag.TotalComplain
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Revert Counts',
                colorByPoint: true,
                data: [{
                    name: 'Clarifications',
                    y: @ViewBag.NoofClarificationData
                }, {
                    name: 'Closed',
                    y: @ViewBag.NoOfClosedData
                }]
            }],
            tooltip: {
                pointFormat: '<b>{point.y}</b> ({point.percentage:.1f}%)'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            }
        });
    });
</script>