@{
    ViewBag.Title = "Home Page";
}

<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">
            <div class="page-header">
            </div>
        </div>
    </div>
</div>